<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucas.lealappsteste">
    <!-- permissões Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permissões Galeria/Camera -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LealAppsTeste">

        <activity android:name="View.TreinosActivity"
            android:screenOrientation="sensor"
            android:parentActivityName="View.PrincipalActivity"/>
        <activity
            android:name="View.PrincipalActivity"
            android:label="Mutant | LealApps "
            android:screenOrientation="sensor" />
        <activity
            android:name="View.CadastrarActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name="View.LoginActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name="View.BemVindo"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>